body {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Apple SD Gothic Neo", "Noto Sans KR", Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #e2dacb;
}

.profile-container-background {
  max-width: 1280px;
  height: 1200px;
  background-color: #ebe4d6;
  padding: 3.125rem;
  display: flex;
  gap: 6.25rem;
}

.profile-left-container {
  width: 360px;
  height: 100%;
  border-radius: 28px;
  background-color: #af9571;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.profile-name-container {
  color: #ebe4d6;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.profile-about-me-container,
.profile-education-container {
  color: #ebe4d6;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.name-tag,
.about-me-tag,
.education-tag {
  border-bottom: 1px solid #ebe4d6;
  padding: 0.625rem 0;
  font-size: 1.5rem;
}

.name {
  font-size: 3.125rem;
}

.about-me,
.education,
.strength {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #af9571;
  position: relative;
  gap: 1.875rem;
}

.blossom-img {
  width: 165px;
  height: 230px;
  position: absolute;
  top: 0;
  right: 0;
}

.profile-moto-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4.375rem;
  margin-top: 50px;
}

.moto-english {
  max-width: 500px;
  font-size: 3rem;
}

.moto-korean {
  font-size: 1.5rem;
}

.strength-tag,
.skills-tag,
.contact-tag {
  border-bottom: 1px solid #af9571;
  padding: 0.625rem 0;
  font-size: 1.5rem;
}

.profile-strength-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 320px;
}

.profile-skills-container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.profile-contact-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.strength-skills {
  display: flex;
  justify-content: space-between;
}

.skills-type {
  width: 100%;
  height: 195px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
}

.skills {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
  justify-content: space-between;
}

.bar {
  width: 150px;
  height: 12px;
  background-color: #ffffff;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #af9571;
}

.fill-html,
.fill-css {
  width: 60%;
}

.fill-js,
.fill-react,
.fill-vue {
  width: 5%;
}

.phone-number,
.email,
.github {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.phone-number img,
.email img,
.github img {
  width: 20px;
  height: 20px;
}

.contact {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: center;
}

@media (max-width: 1279px) {
  .profile-container-background {
    gap: 2rem;
    padding: 2rem;
  }

  .profile-left-container {
    width: 360px;
  }

  .profile-moto-container {
    display: none;
  }

  .strength-skills {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
  }

  .strength-skills {
    gap: 2rem;
  }

  .profile-contact-container {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .profile-container-background {
    flex-direction: column;
    padding: 1.5rem;
    height: 100%;
  }

  .profile-left-container,
  .profile-right-container {
    width: 100%;
  }

  .blossom-img {
    display: none;
  }

  .profile-moto-container {
    display: none;
  }

  .strength-skills {
    margin-top: 0;
  }

  .profile-strength-container,
  .profile-skills-container {
    width: 100%;
  }
}
