body {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Apple SD Gothic Neo", "Noto Sans KR", Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #e2dacb;
}

.profile-container-background {
  max-width: 1280px;
  height: 1200px;
  background-color: #ebe4d6;
  padding: 3.125rem;
  display: flex;
  gap: 6.25rem;
}

.profile-left-container {
  width: 360px;
  height: 100%;
  border-radius: 28px;
  background-color: #af9571;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.bold {
  font-weight: 700;
  border-bottom: 2px dotted;
}

.profile-name-container .name-tag,
.profile-about-me-container .about-me-tag,
.profile-education-container .education-tag,
.profile-strength-container .strength-tag,
.profile-skills-container .skills-tag,
.profile-contact-container .contact-tag {
  position: relative;
  padding-left: 32px;
}

.profile-name-container .name-tag::before,
.profile-about-me-container .about-me-tag::before,
.profile-education-container .education-tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background: url(./img/bright-blossom.png) no-repeat center / contain;
  transition: transform 0.8s;
}

.profile-strength-container .strength-tag::before,
.profile-skills-container .skills-tag::before,
.profile-contact-container .contact-tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background: url(./img/dark-blossom.png) no-repeat center / contain;
  transition: transform 0.8s;
}

.profile-name-container .name-tag:hover::before,
.profile-about-me-container .about-me-tag:hover::before,
.profile-education-container .education-tag:hover::before,
.profile-strength-container .strength-tag:hover::before,
.profile-skills-container .skills-tag:hover::before,
.profile-contact-container .contact-tag:hover::before {
  transform: translateY(-50%) rotate(360deg) scale(1.2);
}

.profile-name-container {
  color: #ebe4d6;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.profile-about-me-container,
.profile-education-container {
  color: #ebe4d6;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.name-tag,
.about-me-tag,
.education-tag {
  border-bottom: 1px solid #ebe4d6;
  padding: 0.625rem 0;
  font-size: 1.5rem;
  color: #fdf6e8ff;
  font-weight: 600;
}

.name {
  font-size: 3.125rem;
}

.about-me,
.education,
.strength {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #af9571;
  position: relative;
  gap: 1.875rem;
}

.blossom-img {
  width: 165px;
  height: 230px;
  position: absolute;
  top: 0;
  right: 0;
}

.profile-moto-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4.375rem;
  margin-top: 50px;
}

.moto-english {
  max-width: 500px;
  font-size: 3rem;
}

.moto-korean {
  font-size: 1.5rem;
}

.accent {
  color: #bf7738ff;
  font-weight: 600;
}

.strength-tag,
.skills-tag,
.contact-tag {
  border-bottom: 1px solid #bf7738ff;
  padding: 0.625rem 0;
  font-size: 1.5rem;
  color: #bf7738ff;
  font-weight: 600;
}

.profile-strength-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 320px;
}

.profile-skills-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  cursor: pointer;
}

.profile-strength-container input[type="radio"] {
  display: none;
}

.profile-strength-container .tab {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.profile-strength-container .tab label {
  padding: 0.2rem 0;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  color: #af9571;
  border: 1px solid #af9571;
  border-radius: 30px;
}

#tab1:checked ~ .tab label[for="tab1"],
#tab2:checked ~ .tab label[for="tab2"],
#tab3:checked ~ .tab label[for="tab3"],
#tab4:checked ~ .tab label[for="tab4"] {
  background-color: #af9571;
  color: #ebe4d6;
  font-weight: 600;
}

.strength-type {
  padding: 1rem;
  background-color: #ebe4d6;
}

.strength-type section {
  display: none;
  flex-direction: column;
  gap: 0.625rem;
}

#tab1:checked ~ .strength-type .adaptation {
  display: flex;
}

#tab2:checked ~ .strength-type .deliberation {
  display: flex;
}

#tab3:checked ~ .strength-type .unity {
  display: flex;
}

#tab4:checked ~ .strength-type .fairness {
  display: flex;
}

.profile-contact-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.strength-skills {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}

.skills-type {
  width: 100%;
  height: 195px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
}

.skills {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
  justify-content: space-between;
}

.bar {
  width: 150px;
  height: 12px;
  background-color: #ffffff;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #af9571;
  width: 0;
  transition: background-color 0.3s;
}

.profile-skills-container:hover .fill {
  background-color: #865428ff;
}

.fill-html {
  animation: fillhtml 1s ease-out forwards;
}

.fill-css {
  animation: fillcss 1s ease-out forwards;
}

.fill-js {
  animation: filljs 1s ease-out forwards;
}

.fill-react {
  animation: fillreact 1s ease-out forwards;
}

.fill-vue {
  animation: fillvue 1s ease-out forwards;
}

.fill-html {
  animation-delay: 0.1s;
}
.fill-css {
  animation-delay: 0.2s;
}
.fill-js {
  animation-delay: 0.3s;
}
.fill-react {
  animation-delay: 0.4s;
}
.fill-vue {
  animation-delay: 0.5s;
}

.phone-number,
.email,
.github {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.phone-number::after,
.email::after,
.github::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #865428ff;
  transition: width 0.3s;
}

.phone-number img,
.email img,
.github img {
  width: 20px;
  height: 20px;
}

.contact {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: center;
}

.phone-number:hover {
  transform: translateY(-3px);
}

.email:hover {
  transform: translateY(-3px);
}

.github:hover {
  transform: translateY(-3px);
}

.phone-number:hover::after {
  width: 150px;
}

.email:hover::after {
  width: 220px;
}

.github:hover::after {
  width: 290px;
}

.profile-container-background,
.profile-left-container,
.profile-right-container,
.profile-strength-container,
.profile-skills-container {
  transition: all 0.5s ease-in-out;
}

.profile-moto-container,
.blossom-img {
  transition: opacity 0.5s, transform 0.5s ease;
  opacity: 1;
  visibility: visible;
}

@keyframes fillhtml {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes fillcss {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes filljs {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
}

@keyframes fillreact {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
}

@keyframes fillvue {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
}

@media (max-width: 1279px) {
  .profile-container-background {
    gap: 2rem;
    padding: 2rem;
  }

  .profile-left-container {
    width: 360px;
  }

  .profile-moto-container {
    opacity: 0;
    visibility: hidden;
    height: 0;
    min-height: 0;
    margin: 0;
  }

  .strength-skills {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    gap: 2rem;
  }

  .profile-contact-container {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .profile-container-background {
    flex-direction: column;
    padding: 1.5rem;
    height: 100%;
  }

  .profile-left-container,
  .profile-right-container {
    width: 100%;
  }

  .blossom-img {
    display: none;
  }

  .profile-moto-container {
    display: none;
  }

  .strength-skills {
    margin-top: 0;
  }

  .profile-strength-container,
  .profile-skills-container {
    width: 100%;
  }
}
